/* 
Variables:
    --text-color

Fonts:
    ubuntu
    anton
    roboto
*/

main {
    display: flex;
    justify-content: center;
    font-family: ubuntu;
    padding-top: 60px;
    padding-bottom: 60px;
}

.content-box {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.text.title {
    font-weight: bold;
    font-size: 20px;
}

.option, .back-button {
    border-color: white;
    border-style: solid;
    height: 30px;
    line-height: 30px;
    min-width: 120px;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.divider {
    width: 160px;
    height: 5px;
    border-radius: 2.5px;
    background-color: rgba(255, 255, 255, 0.2);
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    height: 200px;
    margin: 5px;
    border-style: solid;
    border-color: white;
}